@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RobotoMono-Bold";
  src: url("./fonts/RobotoMono-Bold.ttf");
}

@font-face {
  font-family: "RobotoMono";
  src: url("./fonts/RobotoMono-Regular.ttf");
}
@font-face {
  font-family: "RobotoMono-Thin";
  src: url("./fonts/RobotoMono-Thin.ttf");
}